# Specific keeps
!.gitkeep

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
_bookdown_files/*
docs/*.md
*.log

# R Environment Variables
.Renviron

# Specific Ignores

*/garbage.txt
gap_life_exp-dput.txt
*.lnk
*.bak
img/Screenshot 2022-03-16 160625.png
*.code-workspace
/txt
/admin/secrets
.Rprofile
*.Rproj
_bookdown_files/
0503_plots_to_avoid.md
0407_act_import.md
0406_import.md
0405_dates.md
0404_act_another_hotel.md
0403_types.md
0402_act_hotel.md
0401_data.md
0408_transformations.md
0409_lab_dennys.md
0501_goodviz.md
0502_diving.md
0504_secrets_happy_graphics.md
0304_merges.md
0303_hands.md
0305_lab_nobellaureates.md
0301_tools.md
0202_datafeeding.md
0109_lab_zdravor.md
0201_visualization.md
0000_front.md
0002_guidelines.md
0001_opener.md
0101_welcome.md
0102_act_voting.md
0103_toolbox.md
0104_act_bechdal.md
0105_workflow.md
0106_rbasics.md
0107_quickgit.md
0108_lab_hellor.md
index.md
0203_happygit.md
0204_lab_plasticwaste.md
0302_dplyr.md
0505_lab_laquinta.md
0702_getdata.md
0701_scraping.md
0602_lab_charts.md
0601_confounds.md
0703_apiwrappers.md
0705_lab_betterviz.md
0802_functions.md
0704_diywebdata.md
0801_welcomefunctions.md
0803_automation.md
0804_functionnotes.md
0806_lab_art.md
0901_ethics.md
0902_bias.md
0903_aisociety.md
0905_bias_lab.md
1001_language.md
1002_fitting.md
1003_logistic_notes.md
1101_cv.md
1004_lab_attractive_evals.md
1103_cvnotes.md
1104_lab_crossvalidation.md
1201_uncertainty.md
1202_hypothesis.md
1204_lab_smoking.md
1301_simulations.md
1302_simulationnotes.md
1403_llmcases.md
1402_llmintro.md
1401_llm.md
1501_rshiny.md
1404_llmapi.md
1602_lab_rmarkdown.md
1601_reproducible.md
1502_shinyinfo.md
1701_ml.md
9904_lab_money.md
1801_workshop_quickstart.md
1801_closer.md
9997_lab_freedom.md
9997_resources.md
9998_command_reference.md
9999_references.md
1303_lab_mars.md
nul
DS4P.rds
pkg_path.rds
check_url_results.RDS
/secrets
