.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
bookdown-demo.tex
Ignore/*
DS4P.rds
*.knit.md
*.utf8.md
VideoDecodeStats/*
*.rds
*.log
links.md
*/garbage.txt
*.md
docs/reference-keys.txt
