.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
bookdown-demo.tex
Ignore/*
DS4P.rds
*.knit.md
*.utf8.md
VideoDecodeStats/*
*.rds
*.log
links.md
*/garbage.txt
docs/*.md
docs/reference-keys.txt
0202-plastic-waste_files/*
0602-ugly-charts_files/figure-html/unnamed-chunk-8-1.png

0102-hello-r_files/*
